@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");
* {
    outline: none;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(45deg, #536db9, #c57373);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-wrap {
    background: linear-gradient(to top, #3e424d, #1c2029);
    box-shadow: -2px -2px 15px #ffdafa85, 2px 2px 11px black;
    /* 3e424d to 1c2029 */
    padding: 1.5rem 1rem;
    border-radius: 0.9rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: minmax(6rem, auto) repeat(5, 4rem);
}
.display {
    grid-area: 1/1/2/5;
    font-family: "Roboto Mono", monospace;
    border-radius: 0.2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    color: white;
    overflow-wrap: anywhere;
}
.prev-display {
    font-size: 1.2rem;
    font-weight: 300;
}
.current-display {
    font-size: 2rem;
    font-weight: 400;
    text-align: right;
}
button {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    border-radius: 0.8rem;
    color: white;
    cursor: pointer;
    /* bevel effects */
    background: linear-gradient(325deg, #a2acc0c4, #2b303aa6);
    box-shadow: 2px 2px 9px 0px #131826, -2px -2px 7px -1px rgb(78 90 115),
        inset 2px 2px 10px -2px rgb(136 141 151),
        inset -2px -2px 6px 0px #14161d;
    transition: background-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}
button:hover {
    background-color: hsl(0deg 0% 5%);
    box-shadow: 2px 2px 6px 0px #131826, -2px -2px 5px -1px hsl(222deg 19% 38%),
        inset 2px 2px 10px -2px #9da6b8, inset -2px -2px 6px 0px #030405;
}

.span-2 {
    grid-column: span 2;
}
.clear {
    background: linear-gradient(325deg, #d13232df, #470d0ddf);
    background-color: #6a2929;
    box-shadow: 2px 2px 9px 0px #131826, -2px -2px 7px -1px rgb(78, 90, 115),
        inset 2px 2px 10px -2px #cb3f47, inset -2px -2px 6px 0px #2e0202e6;
    transition: background-color 0.2s, box-shadow 0.2s;
}
.clear:hover {
    background-color: #97707d;
    box-shadow: 2px 2px 5px 1px #131826, -2px -2px 5px -1px hsl(222deg 19% 38%),
        inset 2px 2px 10px -2px #cb3f47, inset -2px -2px 6px 0px #2e0202e6;
}
.operation {
    background: linear-gradient(325deg, #cb8d06de, #532d06de);
    background-color: #c28b24;
    box-shadow: 2px 2px 9px 0px #131826, -2px -2px 6px -1px rgb(78 90 115),
        inset 2px 2px 10px -2px #e4a151, inset -2px -2px 10px -2px #270303;
}
.operation:hover {
    background-color: #ffc9c9;
    box-shadow: 2px 2px 5px 1px #131826, -2px -2px 5px -1px hsl(222deg 19% 38%),
        inset 2px 2px 10px -2px #e4a151, inset -2px -2px 6px 0px #270303;
}
